.Titre{
    color:white;
    padding: 0 2em;
    /* border-bottom: solid 3px black; */
    display:flex;
    gap: 0.5em;
    align-items: flex-start;
    background: #343A40;
    color: #19e9e9;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 0px #4F6D7A, 5px 4px 0px rgba(0,0,0,0.15);


}
.logo-icon span{
    font-size: 3em;
    margin: auto 0;
    padding: 1.5rem 0 0 0;
}